.auth-wrapper {
  min-height: 100vh;
  background-image: url('../../../assets/Fotos/endless-constellation.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.auth-box {
  max-width: 500px;
}
